/* Print styles */
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
	}
	
	a {
		&,
		&:visited {
			border: 0;
			text-decoration: underline;
		}
		
		&[href]:after {
			content: " (" attr(href) ")";
		}
		
		&[href^="#"]:after,
		&[href^="javascript:"]:after {
			content: "";
		}
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	
	img {
		page-break-inside: avoid;
		max-width: 100% !important;
	}
	
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	
	h2,
	h3 {
		page-break-after: avoid;
	}
}