#page {
	padding: 0 2em;
}

.s-title {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	
	a {
		color: $dark_blue;
		border: 0;
		position: relative;
		top: -2.25em;
		
		& span {
			display: inline-block;
			transition: transform .3s ease-in;
		}
		
		&.warn span {
			padding: 0 .055em;
		}
	}
	
	&:before {
		background: $yellow;
		border-radius: 0 0 50% 50%;
		box-shadow: 2px 2px 64px 8px $orange;
		content: " ";
		display: block;
		margin: -3em -7em .67em;
		padding: 3em .5em;
		position: relative;
		top: 1em;
	}
}

main {
	margin: 4em auto;
	text-align: center;
}

.p-title {
	font-size: 2.25em;
	margin: 0 auto .67em;
	max-width: 624px;
	line-height: 1.33;
	
	a {
		border: 0;
	}
}

#list {
	margin: 4em 0;
	text-align: left;
	
	div {
		margin-bottom: 2em;
		
		&:after {
			color: $blue;
			content: "\2026";
			display: block;
			font-size: 2.25em;
			font-weight: bold;
			line-height: 1;
			text-align: center;
		}
	}
}

.bg {
	background: $blue;
	border-radius: 4px;
	padding: 2em;
	text-align: center;
}

#count {
	margin: 3em auto;
	width: auto;
	
	span {
		color: $green;
		display: block;
		font-size: 4.5em;
		font-weight: bold;
		line-height: 1;
	}
}

#col {
	font-size: .75em;
	padding: 1.33em 2.67em;
	text-align: center;
	
	a {
		border: 0;
	}
}

@include media-query() {
	
	#page {
		margin: auto;
		max-width: $max_content_width;
	}
	
	main p {
		margin: 1em auto;
		max-width: 624px;
	}
	
	.s-title:before {
		margin-top: -9em;
		padding-top: 10em;
	}
	
	#list {
		background: no-repeat center;
		
		div {
			float: left;
			width: 39%;
			
			&::after {
				content: "";
			}
			
			&:nth-of-type(odd) {
				clear: left;
				margin-right: 11%;
				text-align: left;
			}
			
			&:nth-of-type(even) {
				clear: right;
				margin-left: 11%;
				text-align: right;
			}
		}
	}
	
	#count {
		max-width: 39%;
	}
}