// Colors
$blue: #33495f;
$dark_blue: #2c3e51;
$green: #1caf5e;
$light_blue: #227eba;
$orange: #f59d00;
$yellow: #f2c500;
$whitish: #f0f0f0; // main text color

// Typography
$line_height_body: 1.5;

// Structure
$max_content_width: 1024px;

// Media queries
$large_screen: 50em;